@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    --cream-color: #f9fbdf;
}

.text-nav{
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1rem;
}

.text-nav:hover{
    color: #fff;
    cursor: pointer;
}

.text-gradient{
    background: radial-gradient(
        0.89% 0.98% at 71.16% 35.69%,
        #defaf1 0.89%,
        #0D1835 71.56%,
        #62B790 55.12%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-dimWhite{
    color: #f3eeea;
}

.bg_gradient{
    background: linear-gradient(to right bottom, #0D1835 0.79%, #62B790);
    background: -webkit-linear-gradient(to right bottom, #0D1835 0.79%, #62B790);
    background: -moz-linear-gradient(to right bottom, #0D1835 0.79%, #62B790);
}

.sidebar_gradient{
    background: linear-gradient(to left bottom, #0D1835 0.79%, #fff);
}

.sidebar{
    -webkit-animation: slide-right 0.5s ease-in-out;
    animation: slide-right 0.5s ease-in-out;
    -moz-animation: slide-right 0.5s ease-in-out;
    width: 100svw !important;
}

@keyframes slide-right{
    0% {
        -webkit-transform: translateX(50%);
        transform: translate(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-right{
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.feature-card:hover{
    background: #3b7367;
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.button-started {
    padding: 1em 1.5em;
    font-size: 16px;
    font-family: 'Cabin Condensed', sans-serif;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background: #f9fbdf;
    border-radius: 9px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
    outline: none;
}

.button-started:hover {
    background-color: transparent;
    border: #f9fbdf 2px solid;
    box-shadow: 0px 15px 20px rgba(150, 217, 217, 0.4);
    color: #f9fbdf;
    transform: translateY(-7px);
}

.button-started:active {
    transform: translateY(-1px);
}