@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-nav{
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1rem;
}

.text-nav:hover{
    color: #fff;
    cursor: pointer;
}